argo-cd:
  configs:
    params:
      server.insecure: true
  global:
    domain: argocd.fbi.com
    networkPolicy:
      create: true
      defaultDenyIngress: false
  server:
    ingress:
      ingressClassName: nginx
      annotations:
        nginx.ingress.kubernetes.io/ssl-passthrough: "true"
      enabled: true
      tls: false
    resources:
      requests:
        cpu: 100m
        memory: 128Mi
      limits:
        memory: 128Mi

  controller:
    resources:
      requests:
        cpu: 250m
        memory: 512Mi
      limits:
        memory: 512Mi

  repoServer:
    resources:
      requests:
        cpu: 100m
        memory: 128Mi
      limits:
        memory: 128Mi

  applicationSet:
    resources:
      requests:
        cpu: 100m
        memory: 128Mi
      limits:
        memory: 128Mi

  redis:
    resources:
      requests:
        cpu: 100m
        memory: 64Mi
      limits:
        memory: 64Mi

  dex:
    resources:
      requests:
        cpu: 50m
        memory: 64Mi
      limits:
        memory: 64Mi